/*POPUP ESTRUCTURA*/
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,500,700&display=swap');

.caj-wrapper-box {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 1111111111;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
    transition: opacity 500ms;
}

.caj-wrapper-box.open {
    transition: opacity 500ms;
    opacity: 1;
    height: 100%;
    width: 100%;
}

.caj-outter-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caj-inner-wrapper {
    position: relative;
    padding: 0;
    width: 95%;
    height: 80%;
    background-color: #fff;
}

#caj-close-popup {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30px;
    right: 20px;
    transition: all 500ms;
}

#caj-close-popup:before{
    content: '';
    position: absolute;
    left: 6px;
    top: 49%;
    width: 80%;
    height: 2px;
    transform: rotate(45deg);
    background-color: rgba(0,0,0,0.8);
    transition: all 500ms;
}

.caj-inner-wrapper #caj-close-popup:after{
    content: '';
    position: absolute;
    right: 3px;
    top: 49%;
    width: 80%;
    height: 2px;
    transform: rotate(-45deg);
    background-color: rgba(0,0,0,0.8);
    transition: all 500ms;
}

#caj-close-popup:hover {
    opacity: 0.7;
    transition: all 500ms;
}

/*SPINNER*/
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 11;
    transition: all 1s;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    /*margin: 8px;*/
    border-radius: 50%;
    border: 6px solid #0071c5;
    border-color: #0071c5 transparent #0071c5 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* CONTENIDO POPUP */

.caj-content {
    overflow-y: scroll;
    height: 100%;
    box-sizing: border-box;
    padding: 80px 20px 20px;
    font-family: 'Nunito', sans-serif;
}

.caj-content ul, .caj-content li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.caj-titulo-sabores {
    text-align: center;
    color: #e6314c;
    font-size: 34px;
    line-height: 38px;
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 30px;
}

/*ul*/
.caj-lista-categoria {
    list-style: none;
    padding: 0;
}
/*li*/
.caj-li-categoria {
    list-style: none;
    margin: 25px 0;
}

.titulo-categoria {
    color: #e6314c;
    letter-spacing: 3px;
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: 300;
    letter-spacing: -1.5px;
    text-transform: none;
    margin-bottom: 10px;
    margin-top: 20px;
}

/*ul*/
.caj-lista-sabores {
    display: flex;
    flex-wrap: wrap;
}

/*li*/
.caj-li-sabores {
    width: 100%;
    margin: 5px 0!important
}

.titulo-sabor {
    font-family: 'Nunito', sans-serif;
    color: #73706a;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.descripcion-sabor {
    color: #73706a;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
}


/*MEDIA QUERIES*/

@media (min-width: 768px) {
    .caj-titulo-sabores {
        font-size: 54px;
        line-height: 68px;
    }
}

@media (min-width: 992px) {
    .caj-inner-wrapper {
        height: 70%;
        width: 80%;
    }

    #caj-close-popup {
        top: 20px;
    }

    .caj-content {
        padding: 40px 20px 20px;
    }

    .caj-lista-sabores {
        justify-content: space-between;
    }

    .caj-li-sabores {
        width: 48%;  
    }
}

@media (min-width: 1200px) {
    .caj-titulo-sabores {
        font-size: 64px;
    }
}

@media (min-width: 1440px) {

    .caj-li-sabores {
        width: 32%;
    }
    .descripcion-sabor {
        font-size: 18px;
        line-height: 24px;
    }
}