/*POPUP ESTRUCTURA*/
.caj-wrapper-box {
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 1111111111;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    opacity: 0;
    transition: opacity 500ms;
}

.caj-wrapper-box.open {
    transition: opacity 500ms;
    opacity: 1;
    height: 100%;
    width: 100%;
}

.caj-outter-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caj-inner-wrapper {
    position: relative;
    padding: 40px 20px 20px;
    width: 80%;
    height: 500px;
    background-color: #fff;
}

#caj-close-popup {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all 500ms;
}

#caj-close-popup:before{
    content: '';
    position: absolute;
    left: 3px;
    top: 46%;
    width: 90%;
    height: 2px;
    transform: rotate(45deg);
    background-color: rgba(0,0,0,0.8);
    transition: all 500ms;
}

.caj-inner-wrapper #caj-close-popup:after{
    content: '';
    position: absolute;
    right: 2px;
    top: 43%;
    width: 90%;
    height: 2px;
    transform: rotate(-45deg);
    background-color: rgba(0,0,0,0.8);
    transition: all 500ms;
}

#caj-close-popup:hover {
    opacity: 0.7;
    transition: all 500ms;
}

/*SPINNER*/
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 11;
    transition: all 1s;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    /*margin: 8px;*/
    border-radius: 50%;
    border: 6px solid #0071c5;
    border-color: #0071c5 transparent #0071c5 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}